.dialog-content {
  padding: 10px;
  text-align: center;
}

.dialog-title {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding: 10px 5px;
}

.dialog-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
}
